.navbar {
    position: fixed;
    z-index: 99;
    padding-top: 20px;
    padding-bottom: 20px;
    top: -1px;
    right: 0px;
    left: 0px;
}

.groupLogo {
    height: 100px;
    padding: 10px;
}

#groupContainer {
    text-align: center;
}

.homeButton {
    margin: 5px;
}

#leaderboardButtonEval {
    display: none;
}

.jumbotron {
    padding-top: 100px;
}

#remarksTable {
    width: 100%;
}

@media screen and (max-width: 930px) {
    .jumbotron {
        padding-bottom: 5rem;
    }

    #leaderboard #innerIframe {
        display: none;
    }

    #leaderboardButtonEval {
        display: block ;
    }

    #remarksTable {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 500px) {
    #ytVid {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .jumbotron, #remarksTable {
        width: 113%;
    }

}

.timeline {
	width:800px;
	height: 20px;
	list-style: none;
	text-align: justify;
	margin: 130px auto;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(191,128,11,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);

}

.timeline:after {
    display: inline-block;
    content: "";
    width: 100%;
}

.timeline li {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #F2BB13;
	text-align: center;
	line-height: 1.2;
	position: relative;
	border-radius: 50%;
}
.timeline li:before {
	display: inline-block;
	content: attr(data-year);
	font-size: 20px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.timeline li:nth-child(odd):before {
	top: -40px;
}
.timeline li:nth-child(even):before {
	bottom: -40px;
}

.timeline li:after {
	display: inline-block;
	content: attr(data-text);
	font-size: 16px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.timeline li:nth-child(odd):after {
	bottom: 0;
	margin-bottom: -10px;
	transform: translate(-50%, 100%);
}
.timeline li:nth-child(even):after {
	top: 0;
	margin-top: -10px;
	transform: translate(-50%, -100%);
}